<div class="content">
	<div class="container">
		<ul class="nav nav-tabs">
			<li class="active"><a  ng-href="#/dashboard" >My Polls</a></li>
			<li ><a ng-href="#/newpoll" disabled="disabled">New Poll</a></li>
		</ul>
		<div class="row">
			<div class="col-md-4 text-center simple-box" ng-repeat="poll in polls">
				<div class="poll-box">
					<a ng-href="#/result/{{poll.name}}"><h3>{{poll.name}}</h3></a>
					<div class="btn-group btn-group-justified menu-poll" role="group" aria-label="...">
					  <div class="btn-group" role="group">

						  <a type="button" class="btn btn-default" ng-href="#/result/{{poll.name}}">
								<span class="glyphicon glyphicon-stats" aria-hidden="true">
								</span> Result
							</a>

					  </div>
					  <div class="btn-group" role="group">
						    <a type="button" class="btn btn-default" ng-href="#/poll/{{poll.name}}">
									<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
										 Share
								</a>

						</div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" ng-click='deletePoll(poll)'>
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
									 Delete</button>
					  </div>
				</div>
			</div>
		</div>
	</div>
	<div ng-show='myPolls.text' class="text-center" style="padding-top:180px;color: #787878;">
		<p>{{myPolls.text}} <a ng-href='#/newpoll'>here</a>.
	</div>
</div>
