<div class="nav navbar-default navbar-fixed-top navbardark">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<div class="logo">
					<a href="#/">Voted</a>
				</div>
			</div>
			<div class="col-md-10">
				<div class="menu">
					<a href="#/dashboard">Logout</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="content">
	<div class="container">
		<ul class="nav nav-tabs">
			<li class="active"><a  ng-href="#/dashboard" >Minhas enquetes</a></li>
			<li ><a ng-href="#/newpoll" disabled="disabled">Criar enquete</a></li>
		</ul>
		<div class="row">
			<div class="col-md-4 text-center simple-box" ng-repeat="poll in polls">
				<div class="poll-box">
					<a ng-href="#/dashboard/{{poll._id}}"><h3>{{poll.name}}</h3></a>
					<!-- <div class="btn-group " role="group" aria-label="...">
					  <button type="button" class="btn btn-default">Resultado</button>
					  <button type="button" class="btn btn-default">Compartilhar</button>
					  <button type="button" class="btn btn-default">Excluir</button>
					</div> -->
					<div class="btn-group btn-group-justified menu-poll" role="group" aria-label="...">
					  <div class="btn-group" role="group">

						  <a type="button" class="btn btn-default" ng-href="#/dashboard/{{poll._id}}">
								<span class="glyphicon glyphicon-stats" aria-hidden="true">
								</span> Resultado
							</a>

					  </div>
					  <div class="btn-group" role="group">
						    <a type="button" class="btn btn-default" ng-href="#/usr/{{poll.name}}">
									<span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
										 Compartilhar
								</a>

						</div>
					  <div class="btn-group" role="group">
					    <button type="button" class="btn btn-default" ng-click='deletePoll(poll)'>
								<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
									 Excluir</button>
					  </div>
					<!-- </div>
					<ul class="list-unstyled list-inline">
						<li>Resultado</li>
						<li>Compartilhar</li>
						<li>Excluir</li>
					</ul> -->
					<!-- <ul class="list-unstyled">
						<li ng-repeat="option in poll.options[0]">
							{{option.name}}: {{option.value}}
						</li>
					</ul> -->
				</div>
			</div>
		</div>
	</div>
</div>
