<!-- Landing Page -->
<div class="nav navbar-default navbar-fixed-top">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<div class="logo">
					<a href="#/">Voted</a>
				</div>
			</div>
			<div class="col-md-10">
				<div class="menu">
					<ul class="list-unstyled list-inline">
					<li><a href="#/dashboard">Login</a></li>
					<li><a href="#/dashboard">Sign Up</a></li>
				  </ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="banner text-center">
	<div class="container">
		<h1>Voted</h1>
		<p>Create custom polls with live results.</p>
		<a ng-href='#/dashboard' class="btn btn-default">Sign Up</a>
	</div>
</div>
<div class="showcases">
	<div class="container text-center">
		<div class="row">
			<div class="col-md-4">
				<i class="fa fa-pie-chart" style="color: #ef5350"></i>
				<h1>Live Results</h1>
				<p>Live graphs show your poll results immediately in easy to an easy to
					understand format. One graph will not provide the whole picture, that's
					why we provide multiple graph types to better describe your results.</p>
			</div>
			<div class="col-md-4">
				<i class="fa fa-tablet" style="color:  #8bc34a"></i>
				<h1>Works Everywhere</h1>
				<p>Traditional desktop computers now represent only 30% of Internet traffic.
					Your poll must work on the tablets, smart phones, netbooks and notebooks
					that your visitors are using. Our responsive designs do just that.</p>
			</div>
			<div class="col-md-4">
				<i class="fa fa-share-alt" style="color: #4393B9"></i>
				<h1>Share with friends</h1>
				<p>Free integrated facebook or traditional comments allow your poll voters
					to provide immediate feedback and discuss results. Social share buttons
					encourage your poll voters to help spread the word.</p>
			</div>
		</div>
	</div>
</div>

<footer class="footer">
	<div class="container">
		<p class="text-center">João Paulo Ribeiro | <i class="fa fa-github fa-lg"></i>
<a href='https://github.com/ribeirojpn'>RibeiroJPN</a></p>
	</div>
</footer>
