<div class="nav navbar-inverse navbar-fixed-top">
	<div class="container">
		<a class="navbar-brand">Dashboard</a>
	</div>
</div>
<div class="content">
	<div class="container">
		<ul class="nav nav-tabs">
			<li ><a  ng-href="#/dashboard" >Minhas enquetes</a></li>
			<li class="active"><a disabled="disabled">Criar enquete</a></li>
		</ul>
		<div class="newpoll-box"ng-show="mensagem.texto">
			<h4>{{mensagem.texto}}</h4>
			<a href='{{mensagem.link}}'><h4>{{mensagem.link}}</h4></a><br/><br/><br/>
			<button type="button" class="btn btn-default" ng-click="createNewPoll()">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Criar Nova Enquete
			</button>
	  </div>
		<div class="row" ng-hide='mensagem.texto'>
			<div class="newpoll-box">
				<h1 class="text-center">New Poll</h1>
				<form ng-submit="salva()">
					<div class="form-group">
        				<label for="name">Question</label>
        				<input type="text" placeholder="Qual foi o melhor filme de super-heroi em 2016?"class="form-control" id="name" required ng-model="poll.name">
    				</div>
					<label for="poll-options">Options</label>
					<div class="poll-options">
	        				<input type="text" ng-repeat="n in placeholders track by $index" placeholder="{{placeholders[$index]}}" class="form-control"  required ng-model="poll.options[$index].name">
					</div>
					<div>
						<button type="button" class="btn btn-default" ng-click="addOption()">
						  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Adicionar opção
						</button>
					</div>
					</br>
					</br>
					<div>
				    <button type="submit" class="btn btn-primary">Salvar</button>
				    <a href="#/dashboard" class="btn btn-default">Voltar</a>
				  </div>
				</form>
			</div>
		</div>
	</div>
</div>
