
<div class="content">
	<div class="container">
		<div class="result-box">
			<h1 class="text-center">{{poll.name}} ?</h1>
			<ul class="list-unstyled">
				<li ng-repeat="option in poll.options">
					<h5>{{option.name}}: {{option.value}}</h5>
					<div class="progress">
					  <div class="progress-bar" role="progressbar" aria-valuenow="{{options.value}}" aria-valuemin="0" aria-valuemax="{{total}}" style="width: {{option.porc*100}}%;">
					    <span class="sr-only">{{option.name}}: {{option.value}}</span>
					  </div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
