<div class="content">
<div class="container">
  <div class="vote-box">
    <h2 class="text-center">{{poll.name}}</h2>
    <br/>
    <div ng-hide='mensagem.text'>
      <ul class="list-unstyled">
        <fieldset>
      	<li ng-repeat="option in poll.options[0]">
      		<input type='radio' ng-model='choiced.name' value="{{option.name}}" id='{{option.name}}'>
          <label for="{{option.name}}">{{option.name}}</label>
      	</li>
      </fieldset>
      </ul>
      <br/>
      <button class="btn btn-success btn-block" ng-click='votar()'>Vote</button>
    </div>
    {{mensagem.text}}
    <a class="btn btn-default btn-block" href='/#/result/{{poll.name}}'ng-show='mensagem.text'>Result</a>
  </div>
</div>
</div>
