<!doctype html>
<html ng-app="voted">
	<head>
		<meta name="viewport" content="width=device-width">
		<meta charset="UTF-8">
		<title>Voted</title>
		<!-- Folhas de estilo -->
		<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="stylesheets/style.css">

		<!-- Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700|Rock+Salt' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

		<!-- Icon Fonts -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="nav navbar-default navbar-fixed-top">
			<div class="container">
				<div class="row">
					<div class="col-md-2">
						<div class="logo">
							<%if (usuarioLogado.length > 0){%>
								<a href="#/dashboard">Voted</a>
							<% } else { %>
								<a href="#/">Voted</a>
							<% } %>
						</div>
					</div>
					<div class="col-md-10">
						<div class="menu">
							<ul class="list-unstyled list-inline">
								<%if (usuarioLogado.length > 0){%>
									<li class="user-name"><%= usuarioLogado %></li>
									<span style="color: #ccc">|</span>
									<li class="loged-item"><a href="#/dashboard">Dashboard</a></li>
									<span style="color: #ccc">|</span>
									<li class="loged-item"><a href="/logout">Logout</a></li>
								<% } else { %>
									<li><a href="#/auth">Login</a></li>
									<li><a href="#/auth">Sign Up</a></li>
								<% } %>
						  </ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-view>

		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
		<script src="vendor/angular/angular.js"></script>
		<script src="vendor/angular-route/angular-route.js"></script>
		<script src="vendor/angular-resource/angular-resource.js"></script>
		<script src="js/main.js"></script>
		<script src='js/controllers/LandingPageController.js'></script>
		<script src='js/controllers/DashboardController.js'></script>
		<script src='js/controllers/NewPollController.js'></script>
		<script src='js/controllers/PollController.js'></script>
		<script src='js/controllers/VotePollController.js'></script>
		<script src="js/services/InterceptorService.js"></script>
		<script src="js/script.js"></script>
	</body>
</html>
